html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  margin: 100px auto;
  width: 320px;
  height: 240px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  white-space: pre-wrap; /* To maintain formatting */
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

/* Styling for table rows */
.date-group-1 {
  background-color: rgb(206, 17, 17); /* Red */
}

.date-group-2 {
  background-color: rgb(0, 140, 255); /* Blue */
}

.date-group-3 {
  background-color: rgb(10, 184, 111); /* Green */
}

.date-group-4 {
  background-color: rgb(211, 122, 7); /* Orange */
}

.date-group-5 {
  background-color: rgb(118, 163, 12); /* Yellow-Green */
}

.date-group-6 {
  background-color: rgb(180, 10, 47); /* Dark Red */
}

.date-group-7 {
  background-color: rgb(35, 99, 19); /* Dark Green */
}

.date-group-8 {
  background-color: rgb(0, 68, 255); /* Deep Blue */
}

.date-group-9 {
  background-color: rgb(218, 12, 218); /* Purple */
}

.date-group-10 {
  background-color: rgb(54, 94, 77); /* Dark Greenish */
}

/* Styling for total expenditure */
.total-expenditure {
  background-color: #333;
}
